* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

body{
       display:  flex;
       align-items: center;
       justify-content: center;
       anchor-name: --some-anchor;
       
}

.box {
       height: 200px;
       width: 200px;
       border-radius: 10px;
     
}

.red {
       background-color: rgb(175, 4, 4);

}

.blue 
{
       background-color: rgb(5, 5, 139);
}
.green 
{ 
       background-color: rgb(11, 140, 11);
         

   
}

.box:hover{
         anchor-name: --some-anchor;
     
}
.anchor
{

       background-color: #eeeeee;
       border-radius: 10px;
       position: absolute;
       position-anchor: --some-anchor;
       top: anchor(top);
       left: anchor(left);
       right: anchor(right);
       bottom: anchor(bottom);

       pointer-events:  none; 
    
       transition: all 0.3s linear;
       mix-blend-mode: difference ;
}