* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
body
{

       display:  flex;
       align-items: center;
       justify-content: center;
       gap: 30px ;
}

.box
{
       height: 200px;
       width: 200px;
       transition: all 0.3s linear;

}

.red
{
       background-color: red;

}
.blue
{
       background-color: blue;


}
.green
{
       background-color: green;
}


.box:hover
{
       transform: scale(1.2)  !important;
       border-radius: 10px;
}
body:has(.box:hover)   .box
{
       transform: scale(0.8);

}