* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

main 
{
    height: 100%;
    width: 100%;
    background : linear-gradient(to right bottom,rgb(26, 26, 26), rgb(35, 35, 35) ,rgb(0, 0, 0));
    padding: 20px;

}


section{
    height: 100%;
    width: 350px;
    background-color: crimson;
    border-radius: 10px;
    margin: auto;
    
}
.all_reel{

    height: 100%;
    width: 100%;

    overflow: hidden;

    
}

.reel {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: blueviolet;
    border-radius: 10px;
    overflow: hidden;
}
.reel img {

    height: 100%;
    width: 100%;
    
}

.reel .bottom {
     width: 100%;
     padding : 20px 10px;

     background : linear-gradient(rgba(11, 11, 11, 0), rgba(0, 0, 0, 0.645));
     bottom: 0;
     

     position: absolute;
}


.bottom .user {
    display: flex;
    align-items: center;
    gap : 10px;
    margin-bottom: 20px;
}

.bottom .user  img {

    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.bottom .user  button {

    padding: 0px 10px;
}

.bottom h3{

    font-weight: 500;
    font-size: 18px;

}